{{page-title "Advanced patterns for v2 addons"}}

<h1 id="title">Advanced patterns for v2 addons</h1>

<h2>Shipping CSS</h2>

<Button>Styled Button</Button>

<h2>Shipping static assets</h2>

<Tomster />