<ul>
  <li>
    <LinkTo @route="css">Shipping CSS</LinkTo>
  </li>
  <li>
    <LinkTo @route="assets">Shipping static assets</LinkTo>
  </li>
  <li>
    <LinkTo @route="lazy-dynamic-import">Lazy loading using dynamic import</LinkTo>
  </li>
  <li>
    <LinkTo @route="lazy-component">Lazy loading a component</LinkTo>
  </li>
</ul>